
#bodyTable{
  width:536pt;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #000;
  font-family:sans-serif;
  font-size:14px;
}
img{
  display:block;
  max-width:100%;
}
table td{
  border:1px solid #000;
}

.bg-highlight{
  background-color:#25ace1;
}
#installItems td{
  padding:0px 2px;
}
#installItems tr:nth-child(even){
  background-color:#dbe4f0;
}
#warranties td{
  padding:0px 2px;
}
#warranties tr:nth-child(even){
  background-color:#dbe4f0;
}
.product-img{
  width:100%;
}